@font-face {
    src: url(fonts/Roboto-VariableFont_wdth\,wght.ttf);
    font-family: Roboto ok;
}
@font-face {
    src: url(fonts/OpenSans-Regular.ttf);
    font-family: OpenSans;
}

h1 {

    font-family: 'Arial', 'Roboto ok', arial;
}
p {
    font-family: 'Lucida Console', 'Courier New', 'OpenSans';
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
}

